/* ************************************************* */
/* *********************** FONT ******************** */
/* ************************************************* */


@font-face {
    font-family: 'pt_sansbold_italic';
    src: url('./font/pts76f-webfont.eot');
    src: url('./font/pts76f-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/pts76f-webfont.woff') format('woff'),
         url('./font/pts76f-webfont.ttf') format('truetype'),
         url('./font/pts76f-webfont.svg#pt_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pt_sansbold';
    src: url('./font/pts75f-webfont.eot');
    src: url('./font/pts75f-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/pts75f-webfont.woff') format('woff'),
         url('./font/pts75f-webfont.ttf') format('truetype'),
         url('./font/pts75f-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pt_sansitalic';
    src: url('./font/pts56f-webfont.eot');
    src: url('./font/pts56f-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/pts56f-webfont.woff') format('woff'),
         url('./font/pts56f-webfont.ttf') format('truetype'),
         url('./font/pts56f-webfont.svg#pt_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansregular';
    src: url('./font/pts55f-webfont.eot');
    src: url('./font/pts55f-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/pts55f-webfont.woff') format('woff'),
         url('./font/pts55f-webfont.ttf') format('truetype'),
         url('./font/pts55f-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*
* Generic
*/
body, div, ul, li, a, section, nav,
h1, h2, h3, h4, h5, h6,
hr, input, textarea {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'pt_sansregular', sans-serif;
}
a {
    text-decoration: none;
    color: SeaGreen;
}
hr {
    clear: both;
    width: 100%;
    height: 0;
    max-width: 980px;
    margin: 28px auto;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 0;
}
h1, h2, h3, h4, h5 {
    font-family: 'pt_sansbold', sans-serif;
    font-weight: normal;
}
h1, h2 {
    margin-bottom: 28px;
}
h3, h4, h5 {
    margin-bottom: 14px;
}
p {
    line-height: 21px;
    margin-top: 14px;
    margin-bottom: 14px;
}

/*
* List
*/
ul {
    list-style-image:none;
    list-style-position:inside;
    list-style-type:none;
}

/* ************************************************* */
/* *********************** GRID ******************** */
/* ************************************************* */
.wrapper {
    width: 100%;
    clear: both;
}
.wrapper:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.row {
    width: 100%;
    max-width: 1200px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.col {
    float: left;
}
.right {
    float: right;
}
.col + .col {
    padding-left: 20px;
}
.half {
    width: 50%;
}
.third {
    width: 33.33%;
}
.two-third {
    width: 66.66%
}
.quarter {
    width: 25%;
}
.wide {
    width: 100%;
}
.col + .wide {
    padding-left: inherit;
}
.mshow, .tshow {
    display: none;
}
.center {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

/*
* Content
*/
.tintbox, .tintbox a {
    font-family: serif;
}
.tintbox {
    background-color: #f2f2f2;
    padding: 28px;
}
.tintbox p {
    color: #6f6f6f;
}


/*
    Foundation use a position:relative; on body, which break the 100% rule
    on #map
*/
body.map_detail {
    width: 100%;
    height: 100%;
    position: inherit;
}

/* Global alert */
.alert-box.global {
    z-index: 1001;
    margin-right: auto;
    margin-left: auto;
}

/* Search form */
input::-webkit-input-placeholder, ::-webkit-input-placeholder {
   color: #a5a5a5;
}

input:-moz-placeholder, :-moz-placeholder {
   color: #a5a5a5;
}

#storage-ui-container textarea {
    height: 100px;
}
#storage-ui-container select {
    margin-bottom: 10px;
}

#storage-ui-container.warning .button {
    background-color: #c60f13;
    border: 1px solid #7f0a0c;
}
#storage-ui-container.warning .button:hover {
    background-color: #970b0e;
}


/* **************** */
/*    Login icons   */
/* **************** */
.login-grid li,
.login-grid a {
    display: inline-block;
}

.login-grid a {
    border: 1px solid #e5e5e5;
    padding: 5px;
    color: #000;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 92px 92px;
    height: 92px;
    width: 92px;
    margin-right: 10px;
}
.login-grid .login-github {
    background-image: url("./github.png");
}
.login-grid .login-bitbucket {
    background-image: url("./bitbucket.png");
}
.login-grid .login-twitter {
    background-image: url("./twitter.png");
}
.login-grid .login-openstreetmap {
    background-image: url("./openstreetmap.png");
}

/*
* Navigation
*/
header {
    margin: 14px 0;
}
header nav {
    min-height: 70px;
    font-size: 0;
    padding-top: 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

nav section, nav h1, nav ul, nav li, nav a {
    display: inline-block;
    font-size: 16px;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-weight: normal;
}

nav ul li {
    height: 100%;
}

nav a {
    display: inline-block;
    height: 100%;
    line-height: 70px;
    padding: 0 14px;
    margin: 0 7px 0 0;
    color: #000;
    text-align: center;
}

nav .menu a:hover {
    text-decoration: underline;
}

nav h1 a {
    background-image: url("./img/logo.svg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 60px auto;
    font-family: 'pt_sansbold';
    font-size: 30px;
    font-weight: normal;
    height: 70px;
    padding-left: 80px;
    text-align: left;
    color: #3A4259;
}

nav a.logout {
    font-style: italic;
}

nav li.has-button {
    padding-top: 7px;
    margin-bottom: 0;
}
nav li.has-button .button {
    margin-bottom: 0;
}

nav .branding ul, nav .branding li,
nav .branding a, nav .branding h1 {
    width: 100%;
}

footer {
    height: 140px;
    margin-top: 40px;
    background-color: #2E3641;
    text-align: center;
    line-height: 140px;
    color: #8F96A3;
}
footer a {
    background-image: url("./img/logo_filigree.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 60px auto;
    font-family: 'pt_sansbold';
    font-size: 30px;
    font-weight: normal;
    height: 140px;
    padding-left: 70px;
    color: #8F96A3;
    display: inline-block;
}


/* **************************** */
/*            home              */
/* **************************** */
.map_fragment {
    width: 100%;
}
.map_list .map_fragment,
.demo_map .map_fragment {
    height: 210px;
}
.map_list .legend {
    padding-top: 7px;
    margin-bottom: 28px;
    text-align: center;
    font-size: 1.2em;
}
.map_list .legend a {
    color: #222;
    font-family: "pt_sansbold";
    font-style: normal;
    font-weight: normal;
}
.map_list .legend em,
.map_list .legend em a {
    color: #444;
    font-family: "pt_sansregular";
    font-style: normal;
}
.map_list hr {
    display: none;
}
.map_list .wide + hr {
    display: block;
}
.umap-features-list ul {
    margin-top: 14px;
}
.umap-features-list li {
    line-height: 21px;
}
.umap-features-list li:before {
    content: "✔";
    color: #323E56;
    padding-right: 5px;
}
.summary {
    background-color: #eee;
}
.summary .row {
    margin-top: 0;
    padding-top: 20px;
}
.search_wrapper {
    background-color: #2E3641;
}
.search_wrapper .row {
    margin-top: 0;
    padding-top: 20px;
}
.showcase-map {
    background-color: #fff;
    padding-bottom: 28px;
}
.showcase-map .row {
    margin-top: 28px;
}
h2.section {
    text-transform: uppercase;
    color: #666;
    text-align: center;
    padding-top: 28px;
}
.showcase-map .map_fragment {
    height: 400px;
}
.highlights {
    text-align: center;
}
.highlights img.colophon {
    display: inline-block;
    height: 128px;
}
.button-bar {
    text-align: center;
}
.button-bar .button {
    display: inline-block;
}
.button-bar .button + .button {
    margin-left: 14px;
}
.button-bar .button.half {
    width: calc(50% - 7px);
}
.demo-instance-warning {
    background-color: #c0392b;
    color: #efefef;
    margin-top: 0;
    padding: 14px 0;
}
.demo-instance-warning .row {
    margin-top: 0;
}
.demo-instance-warning a {
    color: #efefef;
    text-decoration: underline;
}


/* **************************** */
/*            colors            */
/* **************************** */
a {
    color: #689191;
}
.button, input[type="submit"] {
    background-color: #79c1c0;
}
.neutral, input[type="submit"].neutral {
    background-color: #ddd;
    color: #666;
}
.button:hover, input[type="submit"]:hover {
    background-color: #689191;
}
.warning {
    color: #cc0000;
}
.tintbox {
    background-color: #28353D;
}
.tintbox,
.tintbox p,
.tintbox a {
    color: #f8f8f8;
    font-family: sans-serif;
}
.tintbox a {
    text-decoration: underline;
}
.tintbox.warning {
    background-color: #cc0000;
    color: #fff;
}
.tintbox .note, .tintbox .note a {
    line-height: 1.2em;
    font-size: 11px;
    font-style: italic;
}
.darline-autocomplete li.on {
    background-color: #79c1c0;
}
.dark {
    background-color: #2E3641;
    color: #efefef;
    padding-top: 20px;
    margin-top: 20px;
}
.dark .row {
    margin-top: 0;
}


/* **************************** */
/*             404              */
/* **************************** */
.content404 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
}
.content404 a {
    color: #3A4259;
}
.content404 h1 {
    font-size: 10em;
    margin-bottom: 0;
    line-height: 0.5em;
    margin-top: 40px;
}
.content404 h2 {
    font-size: 4em;
    margin-top: 0;
}
.content404 img {
    width: 32%;
}


/* **************************** */
/*         Autocomplete         */
/* **************************** */
ul.umap-autocomplete {
    position: absolute;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 4px 9px #999999;
}
.umap-autocomplete li {
    height: 56px;
    line-height: 28px;
    padding: 14px;
}
.umap-autocomplete li.on {
    background-color: SeaGreen;
    cursor: pointer;
}
.umap-multiresult li {
    width: 100%;
    background-color: #e5e5e5;
    border-radius: 2px;
    padding: 7px;
    color: #464646;
}
.umap-multiresult li + li {
    margin-top: 7px;
}
.umap-multiresult li .close {
    float: right;
    cursor: pointer;
}



/* **************************** */
/*   Override Leaflet.Storage   */
/* **************************** */
body.content #storage-ui-container {
/*    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: inherit;
    height: 30%;*/
    background-color: #fff;
}
#id_editors + br + span.helptext {
    display: none;
}
.storage-loader,
.leaflet-popup-content .storage-popup-footer,
.leaflet-control-browse .storage-browse-actions a.add-datalayer,
.leaflet-control-browse .storage-browse-actions a.storage-browse-link {
    background-color: #79c1c0 !important;
}

/* ************************************************* */
/* ********************* MOBILE ******************** */
/* ************************************************* */
@media only screen and (max-width:770px) {
    .row {
        padding-left: 5px;
        padding-right: 5px;
    }
    .twide {
        width: 100%;
        padding-left: 0!important;
    }
    .tthird {
        width: 33.3333%;
    }
    .ttwo-third {
        width: 66.6666%;
    }
    .tshow {
        display: inherit;
    }
    .thide {
        display: none;
    }
    nav .branding h1 {
        text-align: center;
    }
    nav .branding h1 a {
        width: auto;
    }
}
@media only screen and (max-width: 639px) {
    .mwide {
        padding-left: 0!important;
        width: 100%;
    }
    .mwide + .mwide {
        margin-top: 20px;
    }
    .mthird {
        width: 33.3333%;
    }
    .mshow {
        display: inherit;
    }
    .mhide {
        display: none;
    }
    header nav ul {
        display: block;
    }
}
